<ul class="image-list" id="product-images">
	<% @product.product_images.order('created_at DESC').each do |image| %>
		<%= render '/admin/product_images/image_li', :image => image %>
	<% end %>
</ul>
<h2>Add Product Image</h2>
<%= form_for([:admin, @product, @product.product_images.new], :html => { :multipart => true }, :remote => true ) do |f| %>
  <div class="field">
    <%= f.label 'file' %><br />
    <%= f.file_field 'file' %>
  </div>
  <div class="field">
    <%= f.label :caption %><br />
    <%= f.text_field :caption %>
  </div>
  <div class="actions">
    <%= f.submit 'Add Product Image' %>
  </div>
<% end %>
<script type="text/javascript">
</script>
