<%= form_for( [:admin, @story] ) do |f| %>
  <% if @story.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@story.errors.count, "error") %> prohibited this news from being saved:</h2>

      <ul>
      <% @story.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :excerpt %><br />
    <%= f.text_area :excerpt %>
  </div>
  <div class="field">
    <%= f.label :content %><br />
	<%= f.text_area :content, :class => 'mceEditor' %>
  </div>
  <div class="field product-list">
	  <%= render :partial => 'admin/products/selector',  :locals => { :products => @products, :type_label => 'Product', :field_name => 'news', :selected => @story.products }  %>
  </div>
  <div class="field product-list">
	  <%= render :partial => 'admin/products/selector',  :locals => { :products => @rifles, :type_label => 'Rifle', :field_name => 'news', :selected => @story.products }  %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
