<div id="footer">
	<div class="grid960">
		<div class="top">
			<div class="col-4">
				<a href="/" class="title">Pierce Engineering</a>
			</div>
			<div class="nav col-8">
				<ul>
					<li><%= link_to 'Home', root_path %></li>
					<li><%= link_to 'Products', products_path %></li>
					<li><%= link_to 'Rifles', rifles_path %></li>
					<% @all_pages.each do |page| %>
						<li><%= link_to page.name, page_path( page ) %></li>
					<% end %>
					<li>
				</ul>
			</div><!-- .col-8 -->
		</div><!-- .top -->
		<div class="border col-12">
		</div><!-- .border .col-12 -->
		<div class="bottom">
			<div class="contact col-4">
				<div class="left">
					<%= mail_to get_setting( :contact, 'email' ) %><br />
					tel: <%= get_setting( :contact, 'phone' ) %><br />
					fax: <%= get_setting( :contact, 'fax' ) %>
				</div><!-- .left -->
				<div class="right">
					<%= get_setting( :contact, 'address' ).html_safe %>
				</div><!-- .right -->
			</div><!-- .contact .col-4 -->
			<div class="products col-8" -->
				<ul>
					<% Product.find_all_by_type(0).each do |product| %>
						<li><%= link_to product.name, [ product.product_category, product ] %></li>
					<% end %>
				</ul>
			</div><!-- .products .col-8 -->
		</div><!-- .bottom -->
	</div><!-- .grid960 -->
</div><!-- #footer -->
