<div id="header" class="col-7">
	<% if current_page?(:action => 'index', :controller => '/pages' ) then tag = 'h1' else tag = 'div' end %>
	<<%= tag %> id="logo"><a href="/"><span>Pierce Engineering</span></a></<%= tag %>>
</div><!-- #header -->
<div id="contact" class="col-5">
	<div class="phone-number"><%= get_setting( :contact, 'phone' ) %></div>
	<div class="email"><%= mail_to get_setting( :contact, 'email' ) %></div>
	<div class="address">
		<%= get_setting( :contact, 'address' ).html_safe %>
	</div>
	<div class="fax">
		fax: <%= get_setting( :contact, 'fax' ) %>
	</div>
</div><!-- #contact -->
