<h1>Listing Product Categories</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Slug</th>
    <th>Content</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @admin_product_categories.each do |admin_product_category| %>
  <tr>
    <td><%= admin_product_category.name %></td>
    <td><%= admin_product_category.slug %></td>
    <td><%= admin_product_category.content %></td>
    <td><%= link_to 'Show', admin_product_category %></td>
    <td><%= link_to 'Edit', [:admin, admin_product_category] %></td>
    <td><%= link_to 'Destroy', [:admin, admin_product_category], :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Rifle category', new_admin_rifle_category_path %>
