<p>
  <b>Name:</b>
  <%= @product_category.name %>
</p>

<p>
  <b>Slug:</b>
  <%= @product_category.slug %>
</p>

<p>
  <b>Content:</b>
  <%= @product_category.content %>
</p>

<p>
  <b>User:</b>
  <%= @product_category.user.identity %>
</p>


<%= link_to 'Edit', edit_product_category_path(@product_category) %> |
<%= link_to 'Back', product_categories_path %>
