<div class="col-9 cat-page <%= @product_type %>">
	<h1 class="breadcrumb">
		<%= link_to @product_type + "s", products_path %> &gt; <%= @product_category.name %></h1>
	</h1>

	<%= render '/product_categories/category', :category => @product_category %>

	<% if logged_in? %>
		<%= link_to 'Edit', edit_product_category_path(@product_category) %>&nbsp; | &nbsp;
	<% end %> 
	<%= link_to 'Back', product_categories_path %>
</div>
