<%= render "admin/partials/branding" %>
<div id="header">
	<div class="col-9">
		<div id="title"><a href="/admin"><span>Pierce Engineering : Administration</span></a></div>
		<div class="page">Dashboard</div>
	</div><!-- .col-9 -->
	<div id="user-info" class="col-3">
		<span class="welcome">Welcome <%= link_user current_user %></span>
		<%= h link_to "Logout", admin_logout_path, :class => "logout" %>
	</div><!-- #user-info .col-3 -->
</div><!-- #header -->
<div id="nav" class="col-12">
	<ul>
		<li><%= nav_link 'Dashboard', admin_root_path %></li>
		<li><%= nav_link 'Users', admin_users_path %></li>
		<li><%= nav_link 'Products', admin_products_path %></li>
		<li><%= nav_link 'Product Images', admin_product_images_path %></li>
		<li><a href="/admin/rifles" class="rifles">Rifles</a></li>
		<li><a href="/admin/settings" class="settings">Settings</a></li>
		<li><a href="/admin/profile" class="profile">Profile</a></li>
		<li><a href="/admin/activity" class="activity">Activity</a></li>
		<li><a href="/admin/support" class="support">Support</a></li>
	</ul>
</div><!-- #nav -->
