<% if current_controller? 'admin/products' or current_controller? 'admin/product_categories'
	content_for :sidebar_links do %>
		<li><%= nav_link 'List Products', admin_products_path, 'products', 'index' %></li>
		<li><%= nav_link 'Add Product', new_admin_product_path, 'products', 'new' %></li>
		<% if current_controller? 'admin/products', 'edit' %>
			<li><%= nav_link 'View Product', @product, 'products' %></li>
		<% end %>
		<li><%= nav_link 'List Product Categories', admin_product_categories_path, 'product_categories', 'index' %></li>
		<li><%= nav_link 'Add Product Category', new_admin_product_category_path, 'product_categories', 'new' %></li>
	<% end %>
<% end %>
<div id="sidebar" class="col-3">
	<ul>
		<%= yield :sidebar_links %> 
	</ul>
	<%= Rails.application.routes.recognize_path request.fullpath %>
	<%= current_controller?( 'admin/dashboard' ) %>
</div><!-- #sidebar .col-3 -->
