<% if current_controller? 'admin/products' or current_controller? 'admin/product_categories'
	content_for :sidebar_links do %>
		<li><%= link_to 'List Products', admin_products_path %></li>
		<li><%= link_to 'Add Product', new_admin_product_path %></li>
		<% if current_controller? 'admin/products', 'edit' %>
			<li><%= link_to 'View Product', @product %></li>
		<% end %>
		<li><%= link_to 'List Product Categories', admin_product_categories_path %></li>
		<li><%= link_to 'Add Product Category', new_admin_product_category_path %></li>
	<% end %>
<% end %>
<div id="sidebar" class="col-3">
	<ul>
		<%= yield :sidebar_links %> 
	</ul>
	<%= ActionController::Routing::Routes.recognize_path request.fullpath %>
</div><!-- #sidebar .col-3 -->
