<% content_for :sidebar_links do %>
	<% if current_controller? 'admin/dashboard' %>
		<li></li>

	<% elsif path_matches?( 'admin/product' ) && ! path_matches?( 'admin/rifle' ) || path_matches?( /^\/admin\/?$/ ) %>
		<li><%= nav_link 'List Products', admin_products_path, 'products', 'index' %></li>
		<li><%= nav_link 'Add Product', new_admin_product_path, 'products', 'new' %></li>
		<% if current_controller? 'admin/products', 'edit' %>
			<li><%= link_to 'View Product', @product %></li>
		<% end %>
		<li><%= nav_link 'List Product Categories', admin_product_categories_path, 'product_categories', 'index' %></li>
		<li><%= nav_link 'Add Product Category', new_admin_product_category_path, 'product_categories', 'new' %></li>
		<% if @product && @product.id %>
			<li><%= nav_link 'Edit Product Images', new_admin_product_product_image_path( @product ), 'product_images', 'new' %></li>
		<% end %>

	<% elsif path_matches? 'admin/rifle' and not path_matches? 'admin/products' %>
		<li><%= nav_link 'List Rifles', admin_rifles_path, 'products', 'index' %></li>
		<li><%= nav_link 'Add New Rifle', new_admin_rifle_path, 'products', 'new' %></li>
		<% if @product && current_controller?('admin/products', 'edit') %>
			<li><%= link_to 'View Rifle', @product %></li>
		<% end %>
		<li><%= nav_link 'List Rifle Categories', admin_rifle_categories_path, 'product_categories', 'index' %></li>
		<li><%= nav_link 'Add New Rifle Category', new_admin_rifle_category_path, 'product_categories', 'new' %></li>
		<% if @product && @product.id %>
			<li><%= nav_link 'Edit Rifle Images', new_admin_product_product_image_path( @product ), 'product_images', 'new' %></li>
		<% end %>

	<% elsif current_controller? 'admin/news' %>
		<li><%= nav_link 'List News', admin_news_index_path, 'news', 'index' %></li>
		<li><%= nav_link 'Add News Story', new_admin_news_path, 'news', 'new' %></li>
		<% if current_controller? 'admin/news', 'edit' %>
			<li><%= link_to 'Show News Story', @story %></li> 
		<% end %>
		<li><%= link_to 'View News', news_index_path %></li>
	<% elsif current_controller? 'admin/pages' %>
		<li><%= nav_link 'List Pages', admin_pages_path, 'pages', 'index' %></li>
		<li><%= nav_link 'New Page', new_admin_page_path, 'pages', 'new' %></li>
		<% if @page && current_controller?('admin/pages', 'edit') %>
			<li><%= link_to 'View Page', page_path( @page ) %></li> 
		<% end %>
	<% end %>
<% end %>
<div id="sidebar" class="col-3">
	<ul>
		<%= yield :sidebar_links %> 
	</ul>
</div><!-- #sidebar .col-3 -->
