<%= form_for( [ :admin, @product ], :html => { :multipart => true } ) do |f| %>
	<% if @product.errors.any? %>
		<div id="error_explanation">
			<h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>

			<ul>
				<% @product.errors.full_messages.each do |msg| %>
					<li><%= msg %></li>
				<% end %>
			</ul>
		</div>
	<% end %>

	<%= hidden_field_tag( 'type', 'rifle' ) %>

	<div class="field">
		<%= f.label :name %><br />
		<%= f.text_field :name %>
	</div>
	<div class="field">
		<%= f.label 'Short Description' %><br />
		<%= f.text_area :excerpt %>
	</div>
	<div class="field">
		<%= f.label :content %><br />
		<%= f.text_area :content, :class => 'mceEditor' %>
	</div>
	<div class="field">
		<%= hidden_field_tag 'product[prices][keys][]', 'base' %>
		Prices Starting at: $<%= text_field_tag 'product[prices][values][]', @product.base_price  %>
	</div>
	<div class="field">
		<%= f.label 'Rifle Category', :for => 'product_product_category_id' %>
		<%= f.select :product_category_id, ProductCategory.find_all_by_cat_type(@product_type).collect { |p| [ p.name, p.id ] } %>
	</div>
	<div class="field">
		<%= label_tag 'image[file]', 'Add Image' %><br />
		<%= file_field_tag 'file' %>
	</div>
	<div class="field">
		<%= label_tag 'image[caption]', 'Caption' %><br />
		<%= text_field_tag 'image[caption]', ( params['image'].nil? ) ? '' : params['image']['caption'] %>
	</div>
	<div class="actions">
		<%= f.submit %>
	</div>
<% end %>

<% if @product.id %>
	<fieldset>
		<legend>Rifle Images</legend>
		<%= render '/admin/product_images/form' %>
	</fieldset>
<% end %>
