<%= form_for( [ :admin, @product ], :html => { :multipart => true } ) do |f| %>
	<% if @product.errors.any? %>
		<div id="error_explanation">
			<h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>

			<ul>
				<% @product.errors.full_messages.each do |msg| %>
					<li><%= msg %></li>
				<% end %>
			</ul>
		</div>
	<% end %>

	<%= hidden_field_tag( 'type', @product_label ) %>

	<div class="field">
		<%= f.label :name %><br />
		<%= f.text_field :name %>
	</div>
	<div class="field">
		<%= f.label 'Short Description' %><br />
		<%= f.text_area :excerpt %>
	</div>
	<div class="field">
		<%= f.label :content %><br />
		<%= f.text_area :content, :class => 'mceEditor' %>
	</div>
<% if @product_label == "product" %>
	<div class="field prices-table">
		<%= f.label :prices %><br />
	</div>
	<div class="field product-data">
		<%= f.label :data %><br />
	</div>
<% else %>
	<div class="field">
		<%= hidden_field_tag 'product[prices][keys][]', 'base' %>
		Prices Starting at: $<%= text_field_tag 'product[prices][values][]', @product.base_price  %>
	</div>
<% end %>
	<div class="field">
		<%= f.label @product_label + " Category", :html => { :for => :product_category } %>
		<%= f.select :product_category_id, ProductCategory.find_all_by_cat_type(@product_type).collect { |p| [ p.name, p.id ] } %>
	</div>
	<% if ! @product.id %>
		<div class="field">
			<%= label_tag 'image[file]', 'Add Image' %><br />
			<%= file_field_tag 'image[file]' %>
		</div>
		<div class="field">
			<%= label_tag 'image[caption]', 'Caption' %><br />
			<%= text_field_tag 'image[caption]', ( params['image'].nil? ) ? '' : params['image']['caption'] %>
		</div>
	<% end %>
	<div class="actions">
		<%= f.submit %>
	</div>
<% end %>

<% if @product.id %>
<fieldset>
	<legend><%= @product_label %> Images</legend>
	<%= render '/admin/product_images/form' %>
</fieldset>
<% end %>

<% if @product_label == "product" %>
<script type="text/javascript">
	$(document).ready( function(){ 
		$('.prices-table').dataTable( { 
			hash: <%=raw @product.prices_hash.to_json %>,
			field: 'product[prices]',
			name: 'prices',
			labels: { name: 'Variation', value : 'Price' }
			} );
		$('.product-data').dataTable( {
			hash: <%=raw @product.data_hash.to_json %>,
			field: 'product[data]',
			name: 'data',
			labels: { name: 'Attribute', value : 'Value' }
		} );
	} );
</script>
<% end %>
