<table class="product-selector">
	<tr>
		<td colspan="5">Attach a <%= type_label %></td>
	</tr>
	<tr>
		<th></th>
		<th class="name"><%= type_label %> Name</th>
		<th>Category</th>
		<th colspan="2">Actions</th>
	</tr>
	<% products.each do |product| %>
	<tr>
		<td><%= check_box_tag field_name + '[products][]', product.id, selected.include?(product.id.to_s) %></td>
		<% if image = product.product_images.find_by_image_selected(true) %>
			<td class="name"><%= link_to product.name, image.images[:original], :class => 'fancybox', :title => image.caption %></td>
		<% else %>
			<td class="name"><%= product.name %></td>
		<% end %>
		<td><%= product.product_category.name %></td>
		<td><%= link_to 'Show', admin_product_path( product ) %></td>
		<td><%= link_to 'Edit', edit_admin_product_path( product ) %></td>
	</tr>
	<% end %>
</table>
