<h1>Listing <%= @product_label %>s</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Price(s)</th>
	<th>Category</th>
    <th>User</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @products.each do |product| %>
  <tr>
    <td><%= product.name %></td>
	<td><%= render '/admin/partials/hash_table', :hash => product.prices, :prefix => '$' %></td>
    <td><%= product.product_category.name %></td>
    <td><%= link_user product.user %></td>
	<% if @product_label == "rifle" %>
    <td><%= link_to 'Show', rifle_category_rifle_path(product.product_category, product) %></td>
    <td><%= link_to 'Edit', edit_admin_rifle_path(product) %></td>
	<% else %>
    <td><%= link_to 'Show', product_category_product_path( product.product_category, product) %></td>
    <td><%= link_to 'Edit', edit_admin_product_path(product) %></td>
	<% end %>
    <td><%= link_to 'Destroy', [:admin, product], :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Product', new_admin_product_path %>
