<p>
  <b>Name:</b>
  <%= @product.name %>
</p>

<p>
  <b>Excerpt:</b>
  <%= @product.excerpt %>
</p>

<p>
  <b>Content:</b>
  <%= @product.content %>
</p>

<p>
  <b>Price:</b>
  <%= @product.prices %>
</p>

<p>
  <b>Data:</b>
  <%= @product.data %>
</p>

<p>
  <b>User:</b>
  <%= user_link @product.user %>
</p>


<%= link_to 'Edit', edit_admin_product_path(@product) %> |
<%= link_to 'Back', admin_products_path %>
