<div class="col-9 product-page <%= @product_type %>">
	<h1><%= @product.name %><%= link_to '(Back to ' + @product_type + 's)', @product.product? ? products_path : rifles_path %></h1>
	<h2>Category: <%= link_to @product.product_category.name, @product.product_category %></h2>
	<div class="product-info">
		<div class="product-image"> 
			<% link_to @product.selected_image.images[:original], :class => 'fancybox' do %>
			<%= image_tag @product.selected_image.images[:med] %>
			<% end %>
			<p><%= @product.selected_image.caption if @product.selected_image.has_caption? %></p>
		</div>

		<% if @product.product? %>
		<div class="prices">
			<ul>
				<% @product.prices.each do |label, price| %>
					<li><%= label %> <span class="label"><%= number_to_currency( price ) %></span></li>
				<% end %>
			</ul>
		</div>
		<% end %>

		<p class="short-description"><%= @product.excerpt %></p>
	</div>
	<div class="long-description"><%= @product.content.html_safe %></div>
	<% if @product.product? && @product.data_hash.keys.length > 0 %>
		<div class="data">
			<h3>Product Data</h3>
			<table class="data-table" cellpadding="8" cellspacing="8">
				<tbody>
					<% @product.data_hash.each_pair do | label, value | %>
					<tr>
						<td class="label"><%= label %></td>
						<td class="value"><%= value %></td>
					</tr>
					<% end %>
				</tbody>
			</table>
		</div>
	<% end %>
	<% if @product.has_images? %>
		<div class="images">
			<h3><%= @product_type %> Images</h3>
			<ul class="product-images clearfix">
				<% @product.product_images.each do |image| %>
					<% next if image.images.empty? %>
					<li><%= link_to image.images[:original], :rel => 'gallery', :title => image.caption do %><%= image_tag image.images[:thumb], :width => '80', :height => '80', :alt => image.caption %><% end %></li>
				<% end %>
			</ul>
		</div>
	<% end %>
	<% if ! @product.product? %>
	<div class="price">
		Base Price: Starting at <span><%= number_to_currency @product.base_price %></span><br />
		<a href="/ordering-info">Ordering Info</a>
	</div>
	<% end %>
	<div class="sharing">
		<!-- AddThis Button BEGIN -->
		<div class="addthis_toolbox addthis_default_style addthis_32x32_style">
		<a class="addthis_button_preferred_1"></a>
		<a class="addthis_button_preferred_2"></a>
		<a class="addthis_button_preferred_3"></a>
		<a class="addthis_button_preferred_4"></a>
		<a class="addthis_button_compact"></a>
		<a class="addthis_counter addthis_bubble_style"></a>
		</div>
		<script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=ra-4e48cc6512ea656b"></script>
		<!-- AddThis Button END -->
	</div>
</div>
