<!DOCTYPE html>
<html>
	<head>
		<title>Pierce Engineering</title>
		<%= stylesheet_link_tag 'browser-reset', 'scaffold', 'grid', 'admin/style.css' %>
		<%= javascript_include_tag :defaults %>
		<%= csrf_meta_tag %>
	</head>
	<body>
		<div id="wrapper">
			<div class="body grid960">
				<%= render "admin/partials/header" %>
				<div id="main">
					<%= render "admin/partials/sidebar" %>
					<div id="container" class="col-9">
						<div id="content">
							<%= content_tag :p, notice, :id => 'notice' if notice.present? %>
							<%= content_tag :p, alert, :id => 'alert' if alert.present? %>
							<%= yield %>
						</div><!-- #content -->
					</div><!-- #container .col-9 -->
				</div><!-- #main -->
			</div><!-- .grid960 -->
		</div><!-- #wrapper -->
	</body>
</html>
